var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
ws.onmessage = function(message) {
  var data = JSON.parse(message);
  console.log(String.fromCharCode(data.key));
  // $("#chat-text").append("<div class='panel panel-default'><div class='panel-heading'>" + data.handle + "</div><div class='panel-body'>" + data.text + "</div></div>");
  // $("#chat-text").stop().animate({
  //   scrollTop: $('#chat-text')[0].scrollHeight
  // }, 800);
};

$("#input-form").keypress(function(event) {
  var handle = $("#input-handle")[0].value;
  console.log("Pressed: " + event.which);
  ws.send(JSON.stringify({handle: handle, key: event.which}));
});



  // .on("submit", function(event) {
  //   event.preventDefault();
  //   var handle = $("#input-handle")[0].value;
  //   var text   = $("#input-text")[0].value;
  //   ws.send(JSON.stringify({ handle: handle, text: text }));
  //   $("#input-text")[0].value = "";
  // });
