<!DOCTYPE html>
<html>
  <head>
    <title>ColorChats</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1><span style='color:red'>C</span><span style='color:green'>o</span><span style='color:orange'>l</span><span style='color:green'>o</span><span style='color:purple'>r</span><span style='color:blue'>C</span><span style='color:red'>h</span><span style='color:orange'>a</span><span style='color:green'>t</span><span style='color:purple'>s</span></h1>
        <p>Everyone gets a color each time they load the page. No one gets backspace. Everyone sends character by character. Good luck. </p>
      </div>
      <form id="input-form" class="form-inline">
        <div class="form-group">
          <input id="input-text" type="text" class="form-control" placeholder="Type here..." autofocus />
        </div>
      </form>
      <div class="page-header">
        <h1>Chat</h1>
      </div>
      <div id="chat-text">
      </div>
    </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/application.js"></script>
    <p>Using <a href="https://devcenter.heroku.com/articles/ruby-websockets">Websockets on Heroku (beta)</a> and built on code in their <a href="https://github.com/heroku-examples/ruby-websockets-chat-demo">Ruby Chat Demo app</a>
  </body>
</html>
